@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-repeat-no {
  background-repeat: no-repeat;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


